

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
		
	body {
		background-color: #cfcfcf;
	}

	

	@media only screen and (min-width: 40.063em) {
		.header-nav, .top-bar, .top-bar-section li a:not(.button) {
			background: #1d1d1d;
		}
	}

	.navbar-brand, .user-admin-menu{
		padding: 9px 10px 0 15px !important;
	}

	.main-content {
		background: #fff;
	}

	.fiftyx td:first-child {
	    width: 25%;
	}

	.fiftyx {
		margin-bottom: 35px;
	}

	ul#master-server-list{
		list-style: none;
		padding: 0;
		width: 100%;
	}

	ul#master-server-list li{
		background-color: #ccc;
		padding: 5px 15px;
		float: left;
		width: 100%;
	}

	ul#master-server-list li img{
		float: left;
		width: 32px;
		height: 32px;
		margin: 5px 10px 5px 0;
	}

	ul#master-server-list li div{
		float: left;
		height: 32px;
	}

	ul#master-server-list li.online{
		background-color: #87ef2f;
	}

	ul#master-server-list li.offline{
		background-color: #e24648;
	}

	ul#master-server-list li.error{
		background-color: #f4de4a;
	}

	.donation-plans div {
		text-align: center;
	}

	.donator-cost {
		font-size: 3em;
		font-weight: bold;
	}

	#desc_md_textarea {
		display: none !important;
	}











